@{
    Layout = "_AdvLayout";
}

<!-- To Change In Sections (Must Be Use RenderSection In Layout)-->

@section Navigation {
    <!-- Your footer content -->
}
@section Header {
    <!-- Your footer content -->
}
@section Section {
    <!-- Your footer content -->
}
@section Footer {
    <!-- Your footer content -->
}

<div class="card" style="width: 18rem; margin:0 auto">
  <img class="card-img-top" src="~/Images/@Model.Image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="showall" class="btn btn-primary">Go Back To Prroducts</a>
  </div>
</div>
<style>
    img{height:16rem}
</style>